*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../img/background-3.png);
  background-repeat: repeat;
  background-size: auto;
  color: white;
  position: relative;
  /*border: 2px solid white;*/
  height: 100vh;
}

a:hover {
  text-decoration: underline;
}

table {
  font-family: 'Metamorphous', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 5px;
  border: 4px outset darkgray;
  padding: 20px 20px;
  color: 	#ff003f;
  text-shadow: 4px 4px 6px black;
}

 th {
   font-size: 20px;
 }
 td {
  border: 2px outset darkgray;
  padding: 15px 15px;
  color: 	#ff003f;
  text-shadow: 4px 4px 6px black;
}

.beholder {
  height: 75%;
  width: 15%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header {
  display: inline-block;
  /*border: 3px solid red;*/
  margin: 0;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 80%;
  margin-top: 7%;
}

.header h1 {
  font-family: 'Metamorphous', cursive;
  /*font-family: 'Acme', sans-serif;*/
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: 'Kumar One', cursive;*/
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
  text-shadow: 4px 4px 6px black;
  font-size: 48px;
}

.header p {
  position: absolute;
  top: 95%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Metamorphous', cursive;
  font-size: 44px;
}

.header span, a {
  margin: 0 10px;
  text-decoration: none;
  color: 	#ff003f;
}



.content {
  /*border: 3px solid green;*/
  /*padding-top: 1%;*/
  position: relative;
  width: 80%;
  margin: 0 10%;
  font-size: 14px;
  line-height: 20px;
  height: 50%;
}

.info-container {
  width: 20%;
  /*border: 2px solid yellow;*/
  font-family: 'Metamorphous', cursive;
  text-shadow: 4px 4px 6px black;
  font-size: 14px;
  position: absolute;
  left: 5%;

}

.info-container p {
  font-family: 'Metamorphous', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 5px;
}

.table-container {
  /*border: 2px solid red;*/
  width: 20%;
  position: absolute;
  left: 30%;
}

.wizard-container {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  /*border: 3px solid blue;*/
}

.wizard-container p {
  position: absolute;
  right: 10px;
  top: 10%;
  font-family: 'Metamorphous', cursive;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 5px;
  margin-top: 2;
  border-radius: 10px;
  font-size: 100%;
}

.order-now {

    width: 20%;
    height: 50%;
    position: absolute;
    left: 47%;
    bottom: 20%;
    display: block;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Metamorphous', cursive;
}
.order-now img {
 width: 20%;
 position: absolute;
 right: 5%;
 top: 40%;
}

input, textarea {
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  outline: none;
  color: white;
  font-family: 'Metamorphous', cursive;
  text-align: center;
}

.order-now p {
  position: absolute;
  font-family: 'Metamorphous', cursive;
  top: 50%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  position: absolute;
  border: 8px solid yellow;
  top: 80%;

}
.gallery {
  float: left;
  /*border: 3px solid blue;*/
  position: absolute;
  width: 80%;
  top: 100%;
  left: 10%;
}

.gallery img {
  width: 10%;
  height: 20%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
}


#orderNow {
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-family: 'Metamorphous', cursive;
}

#wizard {
  height: 100%;
  width: 50%;
  /*position: absolute;
  left: 37%;
  bottom: 20%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sword2 {
  height: 60%;
  width: 20%;
  position: absolute;
  left: 20%;
  top: 30%;
}

#sword {
  height: 60%;
  width: 20%;
  position: absolute;
  right: 20%;
  top: 30%;
}








/*HOVER EFFECTS*/
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
